.place-order {
    display: flex;
    gap: 50px;
    margin-top: 50px;
}

/* LEFT */
.place-order-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.place-order-left h2 {
    margin-bottom: 20px;
}

.place-order-left input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

/* two inputs in one row */
.multi-fields {
    display: flex;
    gap: 10px;
}

/* RIGHT */
.place-order-right {
    width: 40%;
}

.place-order-right h2 {
    margin-bottom: 20px;
}

.cart-total-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-total-details.total {
    font-size: 18px;
}

.place-order-right button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.place-order-right button:hover {
    background-color: #ff5a3c;
}