.header{
  height: 34vw;
  margin: 30px auto;
  background: url("../../assets/header_img.png") no-repeat center;
  background-size: cover;
  position: relative;
  border-radius: 20px;
}

.header-content{
  position: absolute;
  bottom: 10%;
  left: 6%;
  max-width: 50%;
  color: white;
  animation: fadeIn 3s;
}

.header-content h1{
  font-size: 3.5rem;
  font-weight: 600;
}

.header-content p{
  font-size: 1rem;
  margin: 15px 0px;
}

.header-content button{
  padding: 12px 30px;
  border: none;
  background: white;
  color: #333;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.header-content button:hover{
  background: #ff6347;
  color: white;
}